main {
    text-align: center;
    font-size: 25px;
    font-family: Lucida Handwriting;
}

.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 30px;
    cursor: pointer;
}

body {
    background-color: wheat;
}

.velha {
    position: fixed;
    margin-top: 110px;
    margin-left: 100px;
    width: 170px;
}

.piupiu {
    position: fixed;
    margin-left: 910px;
    width: 300px;
    margin-top: 150px;
}

.button {
    color: black;
    background-color: rgb(255, 255, 161);
    padding: 10px;
}